html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    height: 100%;
    width: 100%;

    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper-header-container {
    width: 100%;

    display: flex;

    justify-content: center;
}

.header-container-obtaining {
    display: flex;

    width: 100%;
    height: 120px;
    max-width: 1920px;

    justify-content: space-around;
    align-items: center;

    flex-direction: row;
}

.header-logobox {
    display: flex;

    width: auto;
    height: 70px;

    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.logobox-logocontainer {
    margin: 0;
    display: flex;

    height: 70px;
    width: 70px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 50px;
    background: rgba(27, 28, 34, 0.40);
}

.logocontainer-logo {
    width: 70%;
}

.logobox-name {
    color: #FFF;
    font-family: 'Hezaedrus-Medium';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-menu {
    display: flex;

    width: auto;
    height: 70px;

    padding-inline: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;

    flex-shrink: 0;

    border-radius: 50px;
    background: rgba(27, 28, 34, 0.40);
}

.header-menu a {
    height: 100%;

    color: #FFF;
    font-family: 'Hezaedrus-Regular';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;

    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.header-service-title {
    display: none;
}

.header_burger {
    display: none;
}

.wrapper-modules-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.module-intro {
    display: flex;

    width: auto;
    max-width: 1920px;

    height: 600px;

    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 200px;

    flex-shrink: 0;
}

.intro-infobox {
    display: flex;

    width: 500px;

    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    flex-shrink: 0;
}

.intro-infobox-title {
    margin: 0;

    color: #FFF;
    font-family: 'Franko-Bold';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.intro-infobox-subtitle {
    margin: 0;

    color: #FFF;
    font-family: 'Franko-Light';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.archive-spline{
    height: 600px;
}

.module-navigation {
    margin-top: 170px;
    margin-bottom: 100px;

    width: auto;
    max-width: 1920px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-sentence {
    color: #FFF;
    font-family: Franko;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.navigation-panel {
    padding: 0;
    margin-top: 1.612vh;
    margin-bottom: 1.612vh;
    margin-inline: 14.7%;
    padding: 30px 50px;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 58%;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.navigation-panel li {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-inline: 30px;

    align-items: center;
    vertical-align: middle;
}

.navigation-panel li a {
    color: #FFF;
    font-family: 'Franko-Bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 100%
}

.module-year {
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    height: auto;
    width: auto;
    max-width: 1920px;

    flex: 1 1;
}

.year-title {
    margin: 0;
    padding-right: 0.526vw;

    color: #FFF;
    font-family: 'Franko-Light';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.library-obtaining {
    padding-left: 30px;

    border-left: 2px solid #FFF;
}

.year-library {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-width: 900px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.library-issue {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: auto;
    height: auto;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.issue-cover {
    height: 400px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.issue-infobox {
    margin: 0;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: auto;
    height: auto;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.issue-infobox-title {
    margin: 0;

    color: #FFF;
    font-family: 'Franko-Light';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.issue-infobox-button {
    margin-top: 1.612%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;

    border-radius: 30px;
    background: #FFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.issue-infobox-button-textbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 190px;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.issue-infobox-button-textbox-title {
    margin: 0;

    color: #3A0CA3;
    font-family: 'Commissioner', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.wrapper-footer-container {
    display: flex;
    justify-content: center;
    background: rgba(27, 28, 34, 0.60);
    width: auto;
    margin-top: 210px;
}

.footer-obtaining {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 175px;
    max-width: 1920px;
}

.footer-messangers {
    margin-left: 11.58%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 60px;

    width: auto;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-link {
    display: flex;

    width: 60px;
    height: 60px;

    justify-content: center;
    align-items: center;
}

.footer-messangers img {
    height: 100%;
    width: 100%;
}

.footer-logo {
    width: 110px;
}

.footer-textbox {
    margin-right: 11.58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.54vh;

    width: auto;
    height: auto;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-textbox-box-1, .footer-textbox-box-2 {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
}

.footer-textbox-box-1 {
    gap: 0.3vh;
}

.footer-textbox a, p {
    margin: 0;

    color: #D9D9D9;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: #D9D9D9;
}

.footer-textbox p {
    margin-top: 0.6vh;
}



.header-menu a {
    transition: all 0.2s;
}

.header-menu a:hover {
    opacity: 1;
}

.navigation-panel li a {
    transition: all 0.3s;
}

.navigation-panel li a:hover {
    text-decoration: underline 2px;
}

.issue-infobox-button {
    transition: all 0.15s;
}

.issue-infobox-button:hover {
    box-shadow: 0 0 10px 3px #b273db;
}

.footer-link img {
    transition: all 0.15s;
}

.footer-link img:hover
{
    border-radius: 50px;
    box-shadow: 0 0 10px 0 #b273db inset, 0 0 10px 4px #b273db ;
}

.footer-textbox a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 1660px) {
    .module-intro {
        margin-top: 30px;
        gap: 100px;
    }

    .archive-spline {
        height: 450px;
    }
}

@media screen and (max-width: 1500px) {
    .year-library {
        width: 900px;
    }
}

@media screen and (max-width: 1250px) {
    .header-container-obtaining {
        height: 65px;
        justify-content: space-between;

        transition: all 0.2s;
    }

    .header-logobox {
        margin-left: 15px;
        z-index: 4;
    }

    .header-logobox a {
        display: flex;
        align-items: center;
    }

    .logobox-logocontainer {
        height: 50px;
        width: 50px;
    }

    .logobox-name {
        display: none;
    }

    .header-menu.active {
        top: 65px;
    }

    .header-container-obtaining.active {
        background: rgba(27, 28, 34, 0.95);
    }

    .header-menu {
        position: absolute;
        flex-direction: column;
        top: -300px;
        right: 0;
        height: auto;
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 0;
        width: 100%;

        gap: 40px;

        z-index: 3;
        background: rgba(27, 28, 34, 0.95);

        transition: all 0.5s;
    }

    .header-menu a {
        color: #FFF;
        opacity: 1;

        font-size: 18px;
    }

    .header-service-title {
        display: block;

        color: #FFF;
        font-family: 'Hezaedrus-Medium';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        z-index: 4;
    }

    .header_burger {
        margin-left: 20px;
        margin-right: 25px;
        display: block;
        position: relative;
        width: 20px;
        height: 15px;

        z-index: 4;
        order: 2;
    }

    .header_burger::after,
    .header_burger::before {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;

        background-color: #FFFFFF;
        transition: all 0.5s;
    }

    .header_burger span {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6.5px;

        transition: all 0.5s;
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 6.5px;
    }

    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 6.5px;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .module-intro {
        margin-top: 20px;
        flex-direction: column;
        gap: 30px;
    }

    .intro-infobox-title {
        font-size: 30px;
    }

    .intro-infobox-subtitle {
        font-size: 18px;
    }

    .module-intro {
        height: auto;
    }

    .intro-infobox {
        width: auto;
        align-items: center;
        padding-inline: 10px;
        gap: 10px;
    }

    .intro-infobox p {
        text-align: center;
    }

    .archive-spline {
        width: 80%;
        height: auto;
        max-width: 600px;
        max-height: 600px;
    }

    .module-navigation {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .navigation-sentence {
        margin-left: 0;
        font-size: 20px;
    }

    .navigation-panel {
        margin-inline: 10px;
        padding: 0;
        width: auto;
    }

    .navigation-panel li a {
        font-size: 20px;
    }

    .module-year {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 100px;

        width: auto;
    }

    .year-title {
        margin-left: 0;
        padding-right: 0;

        text-align: center;
        font-size: 24px;
        font-family: 'Franko-Medium';
    }

    .year-library {
        flex-direction: column;
        width: auto;
        min-width: 0;
    }

    .library-obtaining {
        border-left: none;
        border-top: 3px solid #B3B3B3;

        margin-top: 20px;
        padding-left: 0;

        width: 90%;
    }

    .library-issue {
        margin-top: 70px;
    }

    .issue-cover {
        height: auto;
        width: 100%;
    }

    .issue-infobox {
        margin-top: 15px;
        gap: 10px;
    }

    .issue-infobox-title {
        font-size: 20px;
    }

    .issue-infobox-button {
        width: 120%;
    }

    .issue-infobox-button-textbox-title {
        font-size: 20px;
    }

    .wrapper-footer-container {
        margin-top: 50px;
    }

    .footer-obtaining {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        gap: 30px;
    }

    .footer-messangers {
        margin-top: 30px;
        margin-left: 10px;
        gap: 3.150vw;
    }

    .footer-link {
        height: 52px;
        width: 52px;
    }

    .footer-logo {
        display: none;
    }

    .footer-textbox {
        margin-right: 0;
        margin-left: 10px;
        margin-bottom: 15px;
        align-items: flex-start;
    }

    .footer-textbox-box-1,
    .footer-textbox-box-2 {
        align-items: flex-start;
    }

    .footer-textbox-box-1 a,
    .footer-textbox-box-2 p {
        font-size: 16px;
    }
}