html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper-header-container {
    width: auto;

    display: flex;

    justify-content: center;
}

.header-container-obtaining {
    display: flex;

    width: 100%;
    height: 120px;
    max-width: 1920px;

    justify-content: space-around;
    align-items: center;

    flex-direction: row;
}

.header-logobox {
    display: flex;

    width: auto;
    height: 70px;

    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.logobox-logocontainer {
    margin: 0;
    display: flex;

    height: 70px;
    width: 70px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 50px;
    background: rgba(27, 28, 34, 0.40);
}

.logocontainer-logo {
    width: 70%;
}

.logobox-name {
    color: #FFF;
    font-family: 'Hezaedrus-Medium';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-menu {
    display: flex;

    width: auto;
    height: 70px;

    padding-inline: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;

    flex-shrink: 0;

    border-radius: 50px;
    background: rgba(27, 28, 34, 0.40);
}

.header-menu a {
    height: 100%;

    color: #FFF;
    font-family: 'Hezaedrus-Regular';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;

    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.header-service-title {
    display: none;
}

.header_burger {
    display: none;
}

.wrapper-modules-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
}

.module-intro {
    display: flex;

    width: 100%;
    max-width: 1920px;
    height: auto;

    gap: 8.33%;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    
    flex-shrink: 0;
}

.intro-infobox {
    display: flex;

    width: 40%;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 50px;

    flex-shrink: 0;
}

.infobox-textbox {
    display: flex;

    flex-direction: column;
    align-items: flex-start;

    gap: 30px;

    flex-shrink: 0;
}

.intro-spline {
    width: 500px;
}

.infobox-textbox-title {
    color: #FFF;
    font-family: 'Franko-Bold-Italic';
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;

    margin: 0;
}

.infobox-textbox-subtitle {
    color: #FFF;
    font-family: 'Franko';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    margin: 0;
}

.infobox-buttonbox {
    display: flex;

    width: 100%;
    align-items: center;
    gap: 60px;
}

.infobox-buttonbox a {
    margin: 0;
    width: 41.5%;
}

.infobox-buttonbox a figure p {
    color: #FFF;
    font-family: 'Commissioner', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonbox-more {
    display: flex;

    width: 100%;
    height: 70px;

    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;

    background: #F72585;

    flex-shrink: 0;
}

.buttonbox-editors {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    display: flex;

    width: 100%;
    height: 70px;

    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid #FFF;

    flex-shrink: 0;
}



.module-about-us {
    display: flex;

    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;
    margin-top: 170px;

    gap: 180px;

    flex-shrink: 0;
}

.about-us-spline {
    height: 560px;
}

.about-us-textbox {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    flex-shrink: 0;
}

.about-us-textbox-title {
    margin: 0;

    color: #FFF;
    font-family: 'Franko-Bold', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-us-textbox-description {
    margin: 0;

    color: #FFF;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}



.module-editors {
    display: flex;

    width: 100%;
    max-width: 1920px;

    height: auto;

    flex-direction: column;
    align-items: center;

    margin-top: 200px;
    gap: 10px;

    flex-shrink: 0;
}

.editors-title {
    margin: 0;

    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.editors-subtitle {
    margin: 0;

    color: #FFF;
    font-family: 'Franko-Light';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.editors-cards {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 50px;

    padding-top: 80px;
}

.card {
    width: 350px;
    height: 500px;

    position: relative;

    flex-shrink: 0;
}

.card-background {
    width: 330px;
    height: 480px;

    background: #FFF;

    position: absolute;
    left: 0;
    bottom: 0;

    flex-shrink: 0;
}

.card-photo {
    width: 330px;
    height: 330px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    flex-shrink: 0;
}

.card-textbox {
    display: flex;

    width: 330px;
    height: 150px;

    position: absolute;
    bottom: 0;
    left: 0;

    flex-direction: column;
    align-items: center;

    gap: 20px;

    flex-shrink: 0;
}

.card-textbox-personal {
    display: flex;

    height: 80px;
    padding: 0px 38px;

    flex-direction: column;
    align-items: center;

    gap: 10px;

    flex-shrink: 0;
}

.personal-name {
    margin: 0;

    color: #151555;
    text-align: center;
    font-family: 'Franko-Bold';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.personal-position {
    margin: 0;

    color: #151555;
    text-align: center;
    font-family: 'Franko-Light';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.card-textbox-email {
    margin: 0;

    color: #151555;
    text-align: center;
    font-family: 'Lucida Console';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.wrapper-footer-container {
    display: flex;
    justify-content: center;
    background: rgba(27, 28, 34, 0.60);
    width: auto;
    margin-top: 210px;
}

.footer-obtaining {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 175px;
    max-width: 1920px;
}

.footer-messangers {
    margin-left: 11.58%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 60px;

    width: auto;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-link {
    display: flex;

    width: 60px;
    height: 60px;

    justify-content: center;
    align-items: center;
}

.footer-messangers img {
    height: 100%;
    width: 100%;
}

.footer-logo {
    width: 110px;
}

.footer-textbox {
    margin-right: 11.58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.54vh;

    width: auto;
    height: auto;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-textbox-box-1, .footer-textbox-box-2 {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
}

.footer-textbox-box-1 {
    gap: 0.3vh;
}

.footer-textbox a, p {
    margin: 0;

    color: #D9D9D9;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: #D9D9D9;
}

.footer-textbox p {
    margin-top: 0.6vh;
}


.header-menu a {
    transition: all 0.2s;
}

.header-menu a:hover {
    opacity: 1;
}

.buttonbox-more,
.buttonbox-editors {
    transition: all 0.2s;
}

.buttonbox-more:hover {
    box-shadow: 0 0 10px 0 #430359 inset, 0 0 10px 4px #430359 ;
}

.buttonbox-editors:hover {
    box-shadow: 0 0 10px 0 #b273db inset, 0 0 10px 4px #b273db ;
}

.footer-link img {
    transition: all 0.15s;
}

.footer-link img:hover
{
    border-radius: 50px;
    box-shadow: 0 0 10px 0 #b273db inset, 0 0 10px 4px #b273db ;
}

.footer-textbox a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1660px) {
    .intro-infobox {
        width: 45%;
    }

    .module-intro {
        margin-top: 70px;
        gap: 5%;
    }

    .intro-spline {
        width: 450px;
    }

    .module-about-us {
        margin-top: 100px;
    }

    .about-us-spline {
        height: 500px;
    }

    .about-us-textbox {
        width: 500px;
    }

    .module-editors {
        margin-top: 140px;
    }
}

@media screen and (max-width: 1400px) {
    .about-us-textbox {
        padding-inline: 50px;
    }

    .editors-cards {
        padding-inline: 50px;
    }
    
}

@media screen and (max-width: 768px) {
    .header-container-obtaining {
        height: 65px;
        justify-content: space-between;

        transition: all 0.2s;
    }

    .header-logobox {
        margin-left: 15px;
        z-index: 4;
    }

    .header-logobox a {
        display: flex;
        align-items: center;
    }

    .logobox-logocontainer {
        height: 50px;
        width: 50px;
    }

    .logobox-name {
        display: none;
    }

    .header-menu.active {
        top: 65px;
    }

    .header-container-obtaining.active {
        background: rgba(27, 28, 34, 0.95);
    }

    .header-menu {
        position: absolute;
        flex-direction: column;
        top: -300px;
        right: 0;
        height: auto;
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 0;
        width: 100%;

        gap: 40px;

        z-index: 3;
        background: rgba(27, 28, 34, 0.95);

        transition: all 0.5s;
    }

    .header-menu a {
        color: #FFF;
        opacity: 1;

        font-size: 18px;
    }

    .header-service-title {
        display: block;

        color: #FFF;
        font-family: 'Hezaedrus-Medium';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        z-index: 4;
    }

    .header_burger {
        margin-left: 20px;
        margin-right: 25px;
        display: block;
        position: relative;
        width: 20px;
        height: 15px;

        z-index: 4;
        order: 2;
    }

    .header_burger::after,
    .header_burger::before {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;

        background-color: #FFFFFF;
        transition: all 0.5s;
    }

    .header_burger span {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6.5px;

        transition: all 0.5s;
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 6.5px;
    }

    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 6.5px;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .module-intro {
        margin-top: 20px;
        flex-direction: column;
    }

    .intro-infobox {
        width: auto;
        padding-inline: 10px;

        gap: 30px;
    }

    .infobox-textbox {
        align-items: center;
        gap: 10px;
    }

    .infobox-textbox p {
        text-align: center;
    }

    .infobox-textbox-title {
        font-size: 30px;
    }

    .infobox-textbox-subtitle {
        font-size: 18px;
    }

    .infobox-buttonbox {
        flex-direction: column;
        gap: 10px;
    }

    .infobox-buttonbox a{
        width: 90%;
    }

    .infobox-buttonbox a figure p {
        font-size: 18px;
    }

    .buttonbox-editors {
        margin: 0;
    }

    .buttonbox-more, 
    .buttonbox-editors {
        height: 55px;
    }

    .intro-spline {
        height: auto;
        width: 80%;
        padding-top: 20px;
        padding-inline: 10px;
    }

    .module-about-us {
        flex-direction: column;
        width: auto;
        padding-inline: 10px;
        margin-top: 35px;
        gap: 40px;
    }

    .about-us-spline {
        display: none;
    }

    .about-us-textbox {
        width: auto;
        height: auto;
        gap: 15px;
        padding-inline: 0;
    }

    .about-us-textbox-description {
        font-size: 16px;
    }

    .module-editors {
        margin-top: 50px;
        padding-inline: 10px;
        width: auto;
    }

    .module-editors p {
        text-align: center;
    }

    .editors-subtitle {
        font-size: 18px;
    }

    .editors-cards {
        flex-direction: column;
        gap: 20px;
        padding-top: 15px;
        padding-inline: 0;
    }

    .card {
        height: 450px;
    }

    .card-background {
        height: 430px;
    }

    .card-textbox {
        gap: 10px;
        height: 100px;
    }

    .card-textbox-personal {
        height: 50px;
        gap: 5px;
    }

    .personal-name {
        font-size: 16px;
    }

    .personal-position {
        font-size: 16px;
    }

    .wrapper-footer-container {
        margin-top: 50px;
    }

    .footer-obtaining {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        gap: 30px;
    }

    .footer-messangers {
        margin-top: 30px;
        margin-left: 10px;
        gap: 3.150vw;
    }

    .footer-link {
        height: 52px;
        width: 52px;
    }

    .footer-logo {
        display: none;
    }

    .footer-textbox {
        margin-right: 0;
        margin-left: 10px;
        margin-bottom: 15px;
        align-items: flex-start;
    }

    .footer-textbox-box-1,
    .footer-textbox-box-2 {
        align-items: flex-start;
    }

    .footer-textbox-box-1 a,
    .footer-textbox-box-2 p {
        font-size: 16px;
    }
}